<h1>Articles list</h1>

<p><%= link_to 'Create a new article', new_article_path %></p>
<table>
  <tr>
    <th>
      ID
    </th>
    <th>
      Title
    </th>
    <th>
      Description
    </th>
  </tr>

  <% @articles.each do |article| %>
  <tr>
    <td><%= article.id %></td>
    <td><%= article.title %></td>
    <td><%= article.description %></td>
    <td><%= link_to 'Edit', edit_article_path(article) %></td>
    <td><%= link_to 'Show', article_path(article) %></td>
    <td><%= link_to 'Delete', article_path(article), method: :delete, data: {confirm: "Are you sure you?"} %></td>
    <td>
      <div class="article-meta-details">
        <small>Created by: <%= article.user.username if article.user %>,
        
        <%= time_ago_in_words(article.created_at) %> ago,
        
        last updated: <%= time_ago_in_words(article.updated_at) %> ago</small>
      </div>
    </td>
  </tr>
  <% end %>
</table>